@model User
@{
    ViewData["Title"] = "Home Page";
    Player player = @Model.Players[0];
    
}

<partial name="PlayerHeaderPartial" model="@player"/>
<div class="container-fluid row">
    <a type="button" class="btn Userbtn" asp-action="Mine" asp-route-id="">Mine</a>
</div>
