
@{
    ViewData["Title"] = "Home Page";
    //Player player = @Model.Players[0];
    
}

<a type="button" class="btn redTextWithHover" asp-controller="Account" asp-action="Login" asp-route-id="">Login</a>
<div class="container-fluid row">
   <p>WIP</p>
</div>
