
@{
    ViewData["Title"] = "Home Page";
    //Player player = @Model.Players[0];
    
}

<a type="button" class="btn redTextWithHover" asp-controller="Game" asp-action="Index" asp-route-id="">Enter Game</a>
<a type="button" class="btn redTextWithHover" asp-controller="Admin" asp-action="Index" asp-route-id="">Enter Admin zone</a>
<div class="container-fluid row">

</div>
