@model Player
<tr>
    <td>
        <div class="d-flex align-items-center">
            <img src="@Model.ImageLocation" class="circle-img circle-img--small mr-2" alt="User Img">
            <div class="user-info__basic">
                <h5 class="mb-0">@Model.Name</h5>
            </div>
        </div>
    </td>
    <td>
        <div class="d-flex align-items-end">
            <h4 class="mr-1">@Model.Cash €</h4>
        </div>
    </td>
    <td>
        <div class="d-flex align-items-end">
            <a type="button" class="btn buyBtn" asp-action="Index" asp-route-id="@Model.Id">Select</a>
        </div>
    </td>
</tr>