@using ActionCommandGame.Ui.WebApp.Views.Home
@model Player
@{
    ViewData["Title"] = "Shop";

    var shopList = new List<IShopItem>
    {
        new ShopItem{Id=0, Name = "PickAxe 1",
                        Price = 16, Description ="Beter then starter pickaxe", 
                        ImageLocation = "https://freepngimg.com/thumb/microphone/11-microphone-png-image-thumb.png",
                        StatsCategory = "Attack", StatsValue = 3
        },
        new ShopItem{Id=1, Name = "Chicken panini",
                        Price = 3, Description ="Fooooooood",
            StatsCategory = "Fuel", StatsValue = 20},
        new ShopItem{Id=2, Name = "Golden dress", 
                        Price = 150, Description ="Why even",
            StatsCategory = "Defence", StatsValue = 15},
        new ShopItem{Id=3, Name = "Other Item", 
                        Price = 34}
    };

}
<partial name="PlayerHeaderPartial" model="@Model" />
<div class="container bg-gradient rounded">
    <div class="row">
        @foreach(var shopListItem in shopList)
        {
            <partial name="ShopPartial" model="shopListItem"/>
        }
    </div>
</div>