@model AdminOption
<div class="card card-admin"><a class="hyperlink" asp-controller="Admin" asp-action="@Model.asp_action">
    <div class="card-body">
        <h4 class="my-0 font-weight-normal yellowText card-title">@Model.Name</h4>

        <p class="card-body pricing-card-title yellowText">@Model.Description</p>
    </div>
</a></div>
