@using System.Collections
@model IList<AdminOption>
@{

}

<div class="container-fluid row">
    <h1 class="yellowText">Welcome Admin</h1>
    <div class="card-group mb-3 text-center">
    @foreach (var s in @Model)
    {
        <partial name="IndexPartial" model="s"/>
    }
    </div>
</div>