@model ActionCommandGame.Services.Model.Results.NegativeGameEventResult

@{
    ViewData["Title"] = "Delete Negative Event";
}



<p>Are you sure you want to delete @Model.Id @Model.Name with probability of  @Model.Probability.</p>

<form method="post">
    <a class="btn btn-info" asp-action="Index">No</a> 
    <button class="btn btn-warning" type="submit">Yes</button>
</form>
