@model IList<ActionCommandGame.Services.Model.Results.NegativeGameEventResult>

@{
    ViewData["Title"] = "Manage Negative events";
}

<div class="text-center">
    <h1 class="display-4 yellowText">@ViewData["Title"]</h1>
</div>

<a asp-action="NegativeEventCreate" class="btn btn-primary Playerbtn">New Negative Event</a>

<table class="table">
    <thead>
    <tr>
        <th class="yellowText">Name</th>
        <th class="yellowText">Probability</th>
        <th class="yellowText">Defense Loss</th>
        <th class="yellowText">Description</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var negEvent in @Model)
    {
        <partial name="NegativeEventRowPartial" model="negEvent"/>
    }
    </tbody>
</table>

