@model ActionCommandGame.Services.Model.Results.NegativeGameEventResult

@{
    ViewData["Title"] = "Create negative Event";
}

<div class="text-center">
    <h1 class="display-4 yellowText">@ViewData["Title"]</h1>
</div>

<form method="post">
    <partial name="NegativeEventCreateEditPartial" model="Model" />

    <button type="submit" class="btn btn-primary">Edit</button>
</form>

