@model IList<ActionCommandGame.Services.Model.Results.PositiveGameEventResult>

@{
    ViewData["Title"] = "Manage Positive events";
}

<div class="text-center">
    <h1 class="display-4 yellowText">@ViewData["Title"]</h1>
</div>

<a asp-action="Index" class="btn btn-link">Return</a>
<a asp-action="PositiveEventCreate" class="btn btn-primary Playerbtn">New Positive Event</a>

<table class="table">
    <thead>
    <tr>
        <th class="yellowText">Name</th>
        <th class="yellowText">Probability</th>
        <th class="yellowText">Description</th>
        <th class="yellowText">Money</th>
        <th class="yellowText">Experience</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var posEvent in @Model)
    {
        <partial name="PositiveEventRowPartial" model="posEvent"/>
    }
    </tbody>
</table>