@model ActionCommandGame.Services.Model.Results.PositiveGameEventResult

@{
    ViewData["Title"] = "Delete Positive Event";
}


<div class="container-fluid row">
    <p class="yellowText">Are you sure you want to delete event: @Model.Id, @Model.Name with probability of @Model.Probability.</p>

    <form method="post", asp-action="ConfirmDeletePositive", asp-route-id="@Model.Id">
        <button class="btn btn-warning" type="submit">Yes</button>
        <a class="btn btn-info" asp-action="Index">No</a>

    </form>
</div>

