@model ActionCommandGame.Services.Model.Results.PlayerResult
<tr>
    <td>
        <div class="d-flex align-items-center">
            <img src="@Model.ImageLocation" class="circle-img circle-img--small mr-2" alt="User Img">
            <div class="user-info__basic">
                <h5 class="mb-0">@Model.Name</h5>
            </div>
        </div>
    </td>
    <td>
        <div class="d-flex align-items-end">
            <h4 class="mr-1">@Model.Money €</h4>
        </div>
    </td>
    <td>
        <div class="d-flex align-items-end">
            <form method="post" asp-controller="Game" asp-action="PickPlayer">
                <input asp-for="Id" type="hidden" value="@Model.Id">
                
                <input type="submit" placeholder="Select" value ="Select" class="btn Playerbtn">
            </form>
            <a asp-action="CreatePlayer" class="btn btn-info">Make new Player</a>
        </div>
    </td>
</tr>