
@model IList<ActionCommandGame.Services.Model.Results.ItemResult>
@{
    ViewData["Title"] = "Shop";


}
@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <a type="button" class="btn redTextWithHover" asp-controller="Account" asp-action="Logout" asp-route-id="">Logout</a>
}	
else
{
    <a type="button" class="btn redTextWithHover" asp-controller="Account" asp-action="Login" asp-route-id="">Login</a>
}
<div class="container bg-gradient rounded">
    <div class="row">
        @foreach(var shopListItem in @Model)
        {
            <partial name="ShopPartial" model="shopListItem"/>
        }
    </div>
</div>